
<!DOCTYPE html>
<html>
<head>
<title>Bliss - What Makes You Happy?</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/project.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- Top fixed nav bar -->
<div id="navbartop">
<h3> What makes you happy? </h3>
</div>

<!-- buffer lines - need to fix ->

<div class = "activeHome">
		
	<!-- Iterate through data.json -->
	
	{{#each posts}}
	<div class="post" id="{{id}}">
		
		<!-- If positive post -->
		{{#if positive}}

		<img src="{{emote}}" class="postEmote">
		<h5>You were feeling {{mood}} at {{date}}.</h5>


		<!-- If media is attached -->
		<!-- If photo is attached -->
		{{# if photoOn}}
			<img src ="{{photo}}" class="postPhoto">
		{{/if}}

		<!-- If video is attached -->
		{{# if videoOn}}
		<video class="postVideo" controls>
			<source src="{{video}}" type="video/mp4">
		</video>
		{{/if}}

		<!-- If audio is attached -->
		{{# if audioOn}}
		<audio class="postAudio" controls>
			<source src="{{audio}}" type="audio/mpeg">			
		</audio>
		{{/if}}

		<!-- If text is attached -->
		{{# if textOn}}
			<object class="postText" 
			data={{text}}
			></object>

		{{/if}}

		<!-- End if media -->

		<hr>
		{{/if}}
		
		<!-- End if positive -->

	</div>
	{{/each}}
</div>

<!-- buffer lines - need to fix -->
<hr>
<hr>
<hr>


<!-- Bottom fixed nav bar -->
<div id="navbarbot">
	<a href="/graph"><img src="icons/dataGrey.png"
	class="iconimgbot"></a>
	<a href="/"><img src="icons/homeGrey.png"
	class="iconimgbot"</a>
	<a href=""><img src="icons/happyRed.png"
	class="iconimgbot"</a>
</div>


<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/project.js"></script>

</body>
</html>
